<div class="articles">
  <h1>Articles</h1>

  <% if @articles.empty? %>
    <p>No articles were found</p>
  <% else %>
    <div>
      <% @articles.each do |article| %>
        <div class="article" id="<%= "article-#{article.id}" %>">
          <h2><%= article.title %></h2>
          <%=
            button_to(
              'ðŸ‘ðŸ»',
              article_likes_path,
              params: { article_id: article.id },
              method: :post
            )
          %>
        </div>
      <% end %>
    </div>
  <% end %>
</div>
